4 lines (30 sloc)  597 Bytes

.sim-slider-element{
    border-radius: 10px;
    width: 180px;
    height: 120px;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    font-family: sans-serif;
    margin: auto;
    color: rgb(26, 216, 241);
    background-color: rgb(40, 38, 38);
  }
  @media only screen and (min-width:800px) {
    .sim-slider-element{
        border-radius: 10px;
        width: 400px;
        height: 250px;
    }
}
